.bookmark-kek{
    transition:all 0.5s ease-in-out;
}
.bookmark-kek:hover{
  background: #b5b5e2;
  cursor: pointer;
  transition:all 0.5s ease-in-out;
}
.bookmark-box-hover {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 1vw;
}
