  <!-- <h2>{{ bookmark.descreption }} Descreptioin</h2>
  <div><span>id: </span>{{ bookmark.id }}</div>
  <div><span>url: </span>{{ bookmark.url }}</div>
  <div><span>author: </span>{{ bookmark.author }}</div> -->
  <h4>Add Bookmark</h4>
  <div class="input-group input-group-sm mb-3">
     <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-plus" aria-hidden="true"></i></span>
     </div>
     <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  </div>
  <ul class="list-group" >
     <li class="list-group-item justify-content-between bookmark-kek" *ngFor="let bookmark of bookmarks" (mouseover)="onSelect(bookmark)">
        {{bookmark.descreption}}

     </li>
  </ul>
  <hr>
  <div *ngIf="selectedBookmark" class="bookmark-box-hover">
  <h4>ID: {{ selectedBookmark.id}}</h4>
  <div><span>Descreption: </span>{{selectedBookmark.descreption}}</div>
  <div><span>Author: </span>{{selectedBookmark.author}}</div>
  <div>
    <div class="input-group input-group-sm mb-3">
       <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">url: </span>
       </div>
         <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="selectedBookmark.url" placeholder="name">
    </div>
  </div>
</div>
